<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pengfu.dao.AdminMapper">

	<!-- 通过用户名查询 -->
	<select id="selectByUsername" resultType="admin">
		select 
			admin.*,building.bid 
		from 
			admin 
		left outer join 
			building 
		on 
			admin.aid = building.aid 
		where 
			username = #{username}
	</select>
	
	<!-- 查询所有 -->
	<select id="selectAll" resultType="admin">
		select 
			admin.*,building.bid 
		from 
			admin 
		left outer join 
			building 
		on 
			admin.aid = building.aid 
	</select>
	
	<!-- 查询用户名是否存在 -->
	<select id="selectUsername" resultType="boolean">
		select 
			count(*) 
		from 
			admin 
		where 
			admin.username = #{username}
	</select>
	
	<!-- 添加 -->
	<insert id="insert" parameterType="admin">
		insert into 
			admin(username,password,name,phone,role)
		values
			(#{username},#{password},#{name},#{phone},#{role})
	</insert>
	
	<!-- 修改 -->
	<update id="update">
		update 
			admin
		set 
			username=#{username},password=#{password},name=#{name},phone=#{phone},role=#{role}
		where 
			aid = #{aid}
	</update>
	
	<!-- 通过用户名删除 -->
	<delete id="delete">
		delete from 
			admin 
		where 
			username = #{username};
	</delete>
	
</mapper>