<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pengfu.dao.BuildingMapper">

	<!-- 封装楼宇对象 -->
	<resultMap id="buildingMap" type="building">
		<result property="bid" column="bid"/>
		<!-- 封装管理员对象 -->
		<association property="manager" column="mid" javaType="manager">
			<result property="username" column="username"/>
			<result property="password" column="password"/>
			<result property="name" column="name"/>
			<result property="role" column="role"/>
		</association>
	</resultMap>
		
	<!-- 查询所有 -->
	<select id="selectAll" resultMap="buildingMap">
		select b.bid,m.* from building b,manager m where b.mid == m.mid;
	</select>
	
	<!-- 查询所有编号 -->
	<select id="selectAllId" resultType="String">
		select building.bid from building
	</select>
	
	<!-- 添加 -->
	<insert id="insert" parameterType="building">
		insert into building(bid, mid)
		values(#{bid},#{manager.mid})
	</insert>
	
</mapper>