<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pengfu.dao.BuildingMapper">

	<!-- 封装楼宇对象 -->
	<resultMap id="buildingMap" type="building">
		<result property="bid" column="bid"/>
		<!-- 封装管理员对象 -->
		<association property="admin" column="aid" javaType="admin">
			<result property="username" column="username"/>
			<result property="password" column="password"/>
			<result property="name" column="name"/>
			<result property="phone" column="phone"/>
			<result property="role" column="role"/>
		</association>
	</resultMap>
		
	<!-- 查询所有 -->
	<select id="selectAll" resultMap="buildingMap">
		select
			building.bid, admin.*
		from
			building
		left outer join
     		admin
		on
			admin.aid = building.aid
	</select>
	
	<!-- 查询所有编号 -->
	<select id="selectAllId" resultType="String">
		select building.bid from building
	</select>
	
	<!-- 根据管理员id查询所有编号 -->
	<select id="selectAllIdByAid" resultType="String">
		select building.bid from building where building.aid == #{aid}
	</select>
	
	<!-- 查询编号是否存在 -->
	<select id="selectBid" resultType="boolean">
		select count(*) from building where building.bid = #{id}
	</select>
	
	<!-- 添加 -->
	<insert id="insert" parameterType="building">
		insert into building(bid, aid) values (#{bid}, #{admin.aid})
	</insert>
	
	<!-- 修改 -->
	<update id="update">
		update building set aid = #{admin.aid} where bid = #{bid}
	</update>
	
	<!-- 通过楼宇编号删除 -->
	<delete id="delete">
		delete from building where bid = #{bid};
	</delete>
	
</mapper>