<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pengfu.dao.StudentMapper">
	
	<!-- 根据id查 -->
	<select id="selectById" resultType="student">
		select student.*, dorm.number dormName, dorm.bid
		from student
		left outer join dorm
		on student.did = dorm.did
		where student.sid = #{id}
	</select>
	
	<!-- 根据宿舍编号查 -->
	<select id="selectByDid" resultType="student">
		select student.* from student 
		where student.did = (select dorm.did from dorm where dorm.number = #{dormName} and dorm.bid = #{bid})
	</select>
	
	<!-- 模糊查询 -->
	<select id="selectByStudent" parameterType="student" resultType="student">
		select student.*, dorm.number dormName, dorm.bid
		from student
		left outer join dorm
		on student.did = dorm.did
		<where>
			<if test="bid!=null">
				and dorm.bid = #{bid}
			</if>
			<if test="dormName!=null">
				and dorm.number = #{dormName}
			</if>
			<if test="sid!=null">
				and student.sid like #{sid}
			</if>
			<if test="name!=null">
				and student.name like #{name}
			</if>
		</where>
	</select>
	
	<!-- 查询学号是否存在 -->
	<select id="selectSid" resultType="boolean">
		select count(*) from student where student.sid = #{id}
	</select>

	<!-- 添加 -->
	<insert id="insert" parameterType="student">
		insert into
			student(sid,password,name,gender,id_card,college,classes,phone,did)
		values
			(#{sid},#{password},#{name},#{gender},#{idCard},#{college},#{classes},#{phone},
			(select dorm.did from dorm where dorm.number = #{dormName} and dorm.bid = #{bid}))
	</insert>
	
	<!-- 修改 -->
	<update id="update">
		update student 
		set 
			password = #{password}, 
			phone = #{phone}, 
			college = #{college},
			classes = #{classes},
			did = (select dorm.did 
				from dorm, building 
				where dorm.number = #{dormName} and  building.bid = #{bid} and dorm.bid = building.bid)
		where sid = #{sid}
	</update>
	
	<!-- 删除 -->
	<delete id="deleteById">
		delete from student where sid = #{sid}
	</delete>
	
</mapper>