<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pengfu.dao.StudentMapper">

	<!-- 查询所有 -->
	<select id="selectAll" resultType="student">
		select 
			student.*, dorm.number dormName, building.bid
		from 
			student, dorm, building
		where 
			student.did = dorm.did and dorm.bid = building.bid
	</select>
	
	<!-- 根据id查 -->
	<select id="selectById" resultType="student">
		select 
			student.*, dorm.number dormName, building.bid
		from 
			student, dorm, building
		where 
			student.sid = #{id} and student.did = dorm.did and dorm.bid = building.bid
	</select>
	
	<!-- 根据姓名查 -->
	<select id="selectByName" parameterType="string" resultType="student">
		select 
			student.*, dorm.number dormName, building.bid
		from
			student, dorm, building
		where
			student.name like #{name} and student.did = dorm.did and dorm.bid = building.bid
	</select>
	
	<!-- 查询学号是否存在 -->
	<select id="selectSid" resultType="boolean">
		select count(*) from student where student.sid = #{id}
	</select>

	<!-- 添加 -->
	<insert id="insert" parameterType="student">
		insert into
			student(sid,password,name,gender,id_card,college,classes,phone,did)
		values
			(#{sid},#{password},#{name},#{gender},#{idCard},#{college},#{classes},#{phone},
			(select dorm.did from dorm where dorm.name = #{dormName} and dorm.bid = #{bid}))
	</insert>
	
	<!-- 修改 -->
	<update id="update">
		update student set password = #{password}, phone = #{phone} where sid = #{sid}
	</update>
	
	<!-- 删除 -->
	<delete id="delete">
		delete from 
			student 
		where 
			sid = #{sid};
	</delete>
	
</mapper>